streamlit
google-generativeai==0.8.3
google-ai-generativelanguage==0.6.10
pypdf
python-docx
beautifulsoup4
requests
youtube-transcript-api
gtts
streamlit-mic-recorder
python-pptx
matplotlib
pandas
openpyxl
watchdog
packaging
