streamlit
google-generativeai
pypdf
python-docx
python-pptx
pandas
openpyxl
xlsxwriter
matplotlib
seaborn
beautifulsoup4
requests
youtube-transcript-api
gTTS
streamlit-mic-recorder
watchdog
packaging
